@{
    ViewBag.Title = "Thanks for checking in";
    Layout = "_Layout";
}

<h2>Thanks for checking in to @ViewBag.VenueName</h2>

Your details have been recorded. It will now be easier for us to get in touch if we need to!
