@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your contact details are stored for the purposes of contact in the case of confirmed infection only. </p>
<p>Your details will not be used for marketing purposes. </p>
