@{
    ViewBag.Title = "Register a new Venue";
    Layout = "_BlankLayout";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Contact Tracer</a>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Contact Tracer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
